@font-face {
    font-family: "Roboto";
    src: url('./assets/Roboto-Regular.woff');
  }
  
  html{
    background-color: #1a202c;
  }
  
  body{
    margin: 0;
    padding: 0;
    font-family: Roboto;
  }
  
  .mainSquare{
    width: 30%;
    height: 83vh;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    color: #14c0e9;
  }

  .mainSquare h1{
    text-align: center;
    margin-top: -10px;
  }
  
  .App{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .inputFields{
    background-color: #232834;
    border: 0;
    border-radius: 8px;
    width: 100%;
    height: 5%;
    margin-bottom: 15px;
    margin-top: 10px;
    padding-left: 10px;
    color: rgb(110, 110, 110);
  }

  .inputFields:focus{
    outline: none;
  }

  .inputLabel{
    color: white;
  }

  #buttonConfirm{
    margin-top: 10px;
    margin-bottom: 5px;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    width: 30%;
    height: 5%;
    cursor: pointer;
    border: none;
    color: white;
    background: linear-gradient(to right, #14c0e9, #0084ff);
  }

  #buttonConfirm:hover{
    background-color: rgb(233, 233, 233);
  }

  #toDoTasks{
    display: flex;
    flex-direction: row;
    background-color: rgb(238, 238, 238);
    padding: 3px 15px 3px 15px;
    margin-top: 20px;
    border-radius: 10px;
  }

  .actionButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    margin-left: 0px;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background-color: #14c0e9;
    color: white;
    border: none;
  }

  .actionButtons:nth-child(1){
    margin-top: 16px;
  }


  .actionButtons:nth-child(2){
    margin-top: 8px;
  }

  .actionButtons:hover{
    background-color: #13b3db;
  }

  #changeInput{
    border-radius: 10px;
    border: none;
    padding: 5px;
    color: rgb(110, 110, 110);
    width: 70%;
    height: 20px;
  }

  #showTasks{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 465px;
    background-color: #232834;
    padding: 0px 5px 0px 10px;
    border-radius:10px;
    margin-top: 20px;
  }

  #showTasks::-webkit-scrollbar{
    width: 5px;
  }

  #divContent{
    width: 600px;
    padding-left: 10px;
    text-align: left;
  }

  #divButtons{
    width: 80px;
    height: 138px;
    padding-left: 15px;
    padding-top: 1px;
  }

  #divContent p{
    word-break: break-all;
  }

  #changeInput{
    margin-top: 10px;
  }

  #changeInput:focus{
    outline: none;
  }